* {
  margin: 0;
  padding: 0;
  font-family: "monospace", sans-serif;
}
:root {
  --primary-color: #00abae;
  --gray : #6c757d;
}
/* navbar  */
.navbar .container span {
  color: var(--primary-color);
}

/* main about  */

main #about {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}
main #about h2 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: clamp(28px, 1.8vw, 40px);
}
main #about h2 span {
  color: var(--primary-color);
}
main #about .pic-div{
    width: 25%;
    margin: 0 auto;
}
main #about .pic-div img{
    max-width: 100%;
    border-radius: 50%;
}
main #about .my-info {
    margin: 20px 0;
    padding: 1rem;
}
main #about .my-info p {
    margin-bottom : 0;
}
main #about .my-info .name-designation {
    margin-bottom: 15px;
}
#name {
    font-size: clamp(25px, 1.5vw, 30px);
}
#designation{
    font-size: clamp(20px, 1.1vw, 25px);
    color: gray;
}
#skills {
    color: var(--primary-color);
}
#description {
    margin: 10px 0;
}
main #about .my-info .skills-email p{
    font-size: clamp(18px , 0.9vw, 20px);
}
#email {
    margin-top: 10px;
}
main #about .icons a {
    text-decoration: none;
}
main #about .icons img {
    width: 2vw;
    margin-left: 10px;
}
/* The clamp() CSS function clamps a middle value 
within a range of values between a defined 
minimum bound and a maximum bound. 
The function takes three parameters: a minimum value, 
a preferred value, and a maximum allowed value. */

/* The full form of VW is viewport width. 
It works like the percentage unit. 
Specifying 10vw is equivalent 
to occupying 10% of entire visible screen width. */

/* main about media screen  */ 
@media only screen and (min-width: 651px) and (max-width: 1280px){
    main #about .icons img {
        width: 4vw;
    }
}

@media only screen and (max-width: 650px) {
    main #about .icons img {
        width: 7vw;
    }
}

/* main projects  */ 

main #projects h2 {
    width: 70%;
    margin: 35px auto;
    text-align: center;
    font-size: clamp(28px, 1.8vw, 40px);
    font-weight: bold;
}
main #projects h2 span{
    color: var(--primary-color);
}

main #projects .project-div{
    display: flex;
    width: 70%;
    margin: 15px auto;
    gap: 5%;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
} 

main #projects .project-div .project-img {
    flex-basis: 33%;
}
main #projects .project-div .project-img  img{
    width: 100%;
}
main #projects .project-div .project-info {
    padding: 1rem;
    margin-top: 10px;
}
main #projects .project-div .project-info .project-name h3{
    font-size: 1.3vw;
    font-weight: bold;
}
main #projects .project-div .project-info .project-credentials {
    margin: 15px 0;
    color: gray;
}
main #projects .project-div .project-info .project-credentials p{
    margin-bottom: 0;
}
main #projects .project-div .project-info .project-btn button{
    color: white;
    padding: 0.375rem 0.75rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
/* main #projects .project-div .project-info .project-btn button a{
    color: white;
    text-decoration: none;
} */
main #projects .project-div .project-info .project-btn .website-btn{
    background-color: var(--gray);
}
main #projects .project-div .project-info .project-btn .github-btn{
    background-color: black;
}

/* main projects media screen  */ 
@media only screen and (min-width: 651px) and (max-width: 1280px){
    main #projects .project-div {
        width: 90%;
    }
    main #projects .project-div .project-img{
        flex-basis: 70%;
    }
    main #projects .project-div .project-info .project-name h3{
        font-size: 25px;
    }
}

@media only screen and (max-width: 650px){
    main #projects .project-div {
        flex-direction: column;
        width:80%;
    }
    main #projects .project-div .project-info .project-name h3{
        font-size: 20px;
    }
}